<div class="card">
  <div class="card-body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">
        Dashboard
      </a>

      <a class="navbar-brand" routerLink="/profile" routerLinkActive="active">
        My Profile
      </a>
      <a class="navbar-brand" routerLink="/work" routerLinkActive="active">
        My Work
      </a>
      <a
        class="navbar-brand"
        routerLink="/attendance"
        routerLinkActive="active"
      >
        My Attendance
      </a>
      <a
        class="navbar-brand"
        routerLink="/not-found"
        routerLinkActive="active"
      >
        Not Found
      </a>
      <a
        class="navbar-brand"
        href="https://www.freakyjolly.com/angular-nested-routing-with-multiple-routeroutlet-using-loadchildren-having-own-router-modules-example-application/"
        target="_blank"
        >Tutorial</a
      >
      <a class="navbar-brand" routerLink="/leaves" routerLinkActive="active">
        My leaves
      </a>
    </nav>
    <p class="card-text">
      <router-outlet></router-outlet>
    </p>
  </div>
</div>
