/* You can add global styles to this file, and also import other style files */
/* Add application styles & import */

.active {
  background-color: #cccccc;
  padding: 8px 15px;
  border-radius: 8px;
}
